* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  background-color: rgb(197, 196, 196);
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
}
.bar {
  width: 1000px;
  text-align: center;
  background-color: rgb(231, 230, 230);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
}
.btns {
  width: 41%;
  height: 100%;
  padding: 0.7rem 0;
  display: flex;
  padding-left: 1rem;
}
.btns div {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 100%;
  cursor: pointer;
}
.red {
  background-color: rgb(247, 54, 54);
}
.green {
  background-color: rgb(7, 207, 67);
}
.yellow {
  background-color: rgb(236, 221, 9);
}
.editor {
  margin: 0 auto;
  width: 1000px;
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textarea {
  border-right: 1px solid rgb(255, 255, 255);
}
.textarea,
.preview {
  height: 100%;
  width: 100%;
  background-color: rgb(80, 85, 105);
  margin: 0;
  overflow: hidden;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.preview {
  padding: 2rem;
  overflow: scroll;
}
textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 2rem;
  background-color: rgb(80, 85, 105);
  color: white;
}
